<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <!-- Pattern comun -->
        <Property name="pattern">
            <!--            %d{yyyy-MM-dd HH:mm:ss.SSS} [%t][%X{scenario}] [%-5level] %c{1} - %msg%n-->
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %c{1} - %msg%n
        </Property>

        <!-- Global log dir -->
        <Property name="logDir">target/logs</Property>
    </Properties>

    <Appenders>
        <!-- ========================= -->
        <!-- Console -->
        <!-- ========================= -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <!-- ========================= -->
        <!-- GLOBAL LOG (Rolling) -->
        <!-- ========================= -->
        <RollingFile name="GlobalRollingFileAppender"
                     fileName="${logDir}/framework.log"
                     filePattern="${logDir}/archive/framework-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout pattern="${pattern}"/>

            <Policies>
                <!-- daily rolloved -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!-- file dimension rollover -->
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

            <!-- number of archived logs -->
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>


        <!-- ========================= -->
        <!-- PER SCENARIO LOG -->
        <!-- ========================= -->
        <Routing name="ScenarioRoutingAppender">

            <Routes pattern="$${ctx:scenarioDir}">

                <Route>
                    <File name="ScenarioFileAppender"
                          fileName="${ctx:scenarioDir}/scenario.log">
                        <PatternLayout pattern="${pattern}"/>
                    </File>
                </Route>

            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <!-- Framework logger-->
        <Logger name="com.emanueltuca.automation" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="GlobalRollingFileAppender"/>
            <AppenderRef ref="ScenarioRoutingAppender"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="GlobalRollingFileAppender"/>
            <AppenderRef ref="ScenarioRoutingAppender"/>
        </Root>
    </Loggers>
</Configuration>
